# Versioning and metadata
.git
.gitignore
.github
.dockerignore

# Build dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment (contains sensitive data)
.env
.env.*

# Files not required for production
README.md
**/README.md
CHANGELOG.md
docker-compose.yml
Dockerfile*
.editorconfig
.prettierrc
.eslintrc
docs
tests
jest.config.js
**/*.spec.js
**/*.test.js
coverage

# Misc
.DS_Store
.vscode
