# Database Configuration - Point to your VPS
DB_HOST=postgres://postgres:qhXB2OE59EFN5RIQQEmz0UeaBhhdYeCazsMJb1hZdQ6BbFLQbsZ8tg0rFohWJJJO@168.231.74.53:15432/postgres?sslmode=require
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=qhXB2OE59EFN5RIQQEmz0UeaBhhdYeCazsMJb1hZdQ6BbFLQbsZ8tg0rFohWJJJO
DB_NAME=postgresql-database-ncc8kkg408kgckokw0soccoo

# MinIO Storage Configuration - Point to your VPS
MINIO_ENDPOINT=https://minio-vckwog0owc88ss84okow0s4s.peterb315.cloud
MINIO_PORT=9000
MINIO_ACCESS_KEY=USS0DosOKWPqB4jC
MINIO_SECRET_KEY=ptMrxZ9MvXEYxH4ptf8ahc6gvlWszVqv
MINIO_BUCKET=ai-images
MINIO_USE_SSL=true

# Application Settings
PORT=3000
NODE_ENV=development
JWT_SECRET=8F9s3JxRw7PzKdQeVtXn4LbHqC2YmUa0
JWT_EXPIRATION=24h

# Optional logging settings
LOG_LEVEL=debug

#Replicate API Token
REPLICATE_API_TOKEN=r8_NmRz1fiKTJ7JJ7pWcoE7t0xKs2a6WpB1BANbF

